*.pyc
*~
.*.sw[op]
*.egg-info
.DS_Store
dist
build
local
_build
distribute-*
/batavia*.js
/batavia*.min.js
/batavia*.map
/batavia/stdlib.js
/batavia/stdlib/*.js
/tests/temp
/tests/tmp*
env
.eggs/
.python-version
make.exe
phantomjs.exe
package-lock.json

# Markdown version of README
README.md

# JS
node_modules/
package/
npm-debug.log

# PyCharm settings
.idea

# Py.test
.cache

# local environment configuration
.env
/.cache-loader/
