*.pyc
*~
.*.sw[op]
*.egg-info
.DS_Store
dist
build
local
_build
distribute-*
/batavia*.js
/batavia*.min.js
/batavia*.map
/batavia/modules/stdlib/*.js
/tests/temp
env
.eggs/
.python-version
make.exe
phantomjs.exe

# JS
node_modules/
package/

# PyCharm settings
.idea
