<html>
<head>
    <title>Batavia testbed</title>
    <style>
        .warning {
            color: #bb0000;
            width: 35em;
        }

        textarea {
            font-family: monospace;
        }
    </style>
    <!-- A native module to use for testing imports -->
    <script src="/static/testserver/native.js"></script>
    <!--
        To run this demo:

        * Add Django 1.8 to your virtual environment
        * Start the testserver::

            ./manage.py runserver

        * Load http://127.0.0.1:8000 in your browser
        * Click one of the buttons.

        This will run the test code, and display stdout/stderr
        on the visible page.
      -->
    <script src="/static/batavia/batavia.js"></script>
    <script src="/static/batavia/utils.js"></script>

    <script src="/static/batavia/types/Bool.js"></script>
    <script src="/static/batavia/types/Bytearray.js"></script>
    <script src="/static/batavia/types/Bytes.js"></script>
    <script src="/static/batavia/types/Code.js"></script>
    <script src="/static/batavia/types/Complex.js"></script>
    <script src="/static/batavia/types/Dict.js"></script>
    <script src="/static/batavia/types/DictView.js"></script>
    <script src="/static/batavia/types/Ellipsis.js"></script>
    <script src="/static/batavia/types/Filter.js"></script>
    <script src="/static/batavia/types/Float.js"></script>
    <script src="/static/batavia/types/Function.js"></script>
    <script src="/static/batavia/types/Int.js"></script>
    <script src="/static/batavia/types/List.js"></script>
    <script src="/static/batavia/types/Map.js"></script>
    <script src="/static/batavia/types/Module.js"></script>
    <script src="/static/batavia/types/NoneType.js"></script>
    <script src="/static/batavia/types/Range.js"></script>
    <script src="/static/batavia/types/Set.js"></script>
    <script src="/static/batavia/types/FrozenSet.js"></script>
    <script src="/static/batavia/types/Slice.js"></script>
    <script src="/static/batavia/types/Str.js"></script>
    <script src="/static/batavia/types/Tuple.js"></script>
    <script src="/static/batavia/types/Type.js"></script>


    <script src="/static/batavia/core/PYCFile.js"></script>
    <script src="/static/batavia/core/Block.js"></script>
    <script src="/static/batavia/core/builtins.js"></script>
    <script src="/static/batavia/core/Cell.js"></script>
    <script src="/static/batavia/core/Exception.js"></script>
    <script src="/static/batavia/core/Frame.js"></script>

    <script src="/static/batavia/modules/dis.js"></script>
    <script src="/static/batavia/modules/dom.js"></script>
    <script src="/static/batavia/modules/inspect.js"></script>
    <script src="/static/batavia/modules/marshal.js"></script>
    <script src="/static/batavia/modules/sys.js"></script>
    <script src="/static/batavia/modules/time.js"></script>


    <script src="/static/batavia/VirtualMachine.js"></script>
    <!--script src="../batavia.js"></script-->

    <!-- The following <script> tag contains a Base64 encoded PYC file.
         The file encoded is the entire test.pystone module. The naming
         of the ID is significant - it's a naming convention that
         allows the Python `import` statement to find other modules. -->
    <script id="batavia-test.pystone" type="application/python-bytecode">
7gwNCjDIvlU3HgAA4wAAAAAAAAAAAAAAAAsAAABAAAAAcxYCAABkAABaAABkAQBaAQBkAgBkAwBs
AgBtAwBaAwABZAQAWgQAZQUAZAUAZAYAgwIAXAUAWgYAWgcAWggAWgkAWgoAR2QHAGQIAIQAAGQI
AIMCAFoLAGQFAFoMAGQCAFoNAGUBAGQJAGQKAIQBAFoOAGUBAGQLAGQMAIQBAFoPAGQCAGEQAGUN
AGERAGQNAGESAGQNAGETAGQCAGcBAGQOABRhFABkDwBkEACEAAB0FABnAQBkDgAURIMBAGEVAGQR
AGEWAGQRAGEXAGUBAGQSAGQTAIQBAFoYAGQUAGQVAIQAAFoZAGQWAGQXAIQAAFoaAGQYAGQZAIQA
AFobAGQaAGQbAIQAAFocAGQcAGQdAIQAAFodAGQeAGQfAIQAAFoeAGQgAGQhAIQAAFofAGQiAGQj
AIQAAFogAGQkAGQlAIQAAFohAGQmAGQnAIQAAFoiAGQoAGQpAIQAAFojAGUkAGQqAGsCAHISAmQC
AGQRAGwlAFolAGQrAGQsAIQAAFomAGUnAGUlAGooAIMBAGQFABhaKQBlKQBkBQBrBAByrwFlJgBk
LQBlKQAWgwEAAW5WAGUpAGQFAGsCAHL/AXkXAGUqAGUlAGooAGQFABmDAQBaKwBXcQUCBGUsAGsK
AHL7AQEBAWUmAGQuAGUlAGooAGQFABkWgwEAAVlxBQJYbgYAZQEAWisAZQ4AZSsAgwEAAW4AAGQR
AFMpL2FDBgAACiJQWVNUT05FIiBCZW5jaG1hcmsgUHJvZ3JhbQoKVmVyc2lvbjogICAgICAgIFB5
dGhvbi8xLjIgKGNvcnJlc3BvbmRzIHRvIEMvMS4xIHBsdXMgMyBQeXN0b25lIGZpeGVzKQoKQXV0
aG9yOiAgICAgICAgIFJlaW5ob2xkIFAuIFdlaWNrZXIsICBDQUNNIFZvbCAyNywgTm8gMTAsIDEw
Lzg0IHBnLiAxMDEzLgoKICAgICAgICAgICAgICAgIFRyYW5zbGF0ZWQgZnJvbSBBREEgdG8gQyBi
eSBSaWNrIFJpY2hhcmRzb24uCiAgICAgICAgICAgICAgICBFdmVyeSBtZXRob2QgdG8gcHJlc2Vy
dmUgQURBLWxpa2VuZXNzIGhhcyBiZWVuIHVzZWQsCiAgICAgICAgICAgICAgICBhdCB0aGUgZXhw
ZW5zZSBvZiBDLW5lc3MuCgogICAgICAgICAgICAgICAgVHJhbnNsYXRlZCBmcm9tIEMgdG8gUHl0
aG9uIGJ5IEd1aWRvIHZhbiBSb3NzdW0uCgpWZXJzaW9uIEhpc3Rvcnk6CgogICAgICAgICAgICAg
ICAgVmVyc2lvbiAxLjEgY29ycmVjdHMgdHdvIGJ1Z3MgaW4gdmVyc2lvbiAxLjA6CgogICAgICAg
ICAgICAgICAgRmlyc3QsIGl0IGxlYWtlZCBtZW1vcnk6IGluIFByb2MxKCksIE5leHRSZWNvcmQg
ZW5kcwogICAgICAgICAgICAgICAgdXAgaGF2aW5nIGEgcG9pbnRlciB0byBpdHNlbGYuICBJIGhh
dmUgY29ycmVjdGVkIHRoaXMKICAgICAgICAgICAgICAgIGJ5IHphcHBpbmcgTmV4dFJlY29yZC5Q
dHJDb21wIGF0IHRoZSBlbmQgb2YgUHJvYzEoKS4KCiAgICAgICAgICAgICAgICBTZWNvbmQsIFBy
b2MzKCkgdXNlZCB0aGUgb3BlcmF0b3IgIT0gdG8gY29tcGFyZSBhCiAgICAgICAgICAgICAgICBy
ZWNvcmQgdG8gTm9uZS4gIFRoaXMgaXMgcmF0aGVyIGluZWZmaWNpZW50IGFuZCBub3QKICAgICAg
ICAgICAgICAgIHRydWUgdG8gdGhlIGludGVudGlvbiBvZiB0aGUgb3JpZ2luYWwgYmVuY2htYXJr
ICh3aGVyZQogICAgICAgICAgICAgICAgYSBwb2ludGVyIGNvbXBhcmlzb24gdG8gTm9uZSBpcyBp
bnRlbmRlZDsgdGhlICE9CiAgICAgICAgICAgICAgICBvcGVyYXRvciBhdHRlbXB0cyB0byBmaW5k
IGEgbWV0aG9kIF9fY21wX18gdG8gZG8gdmFsdWUKICAgICAgICAgICAgICAgIGNvbXBhcmlzb24g
b2YgdGhlIHJlY29yZCkuICBWZXJzaW9uIDEuMSBydW5zIDUtMTAKICAgICAgICAgICAgICAgIHBl
cmNlbnQgZmFzdGVyIHRoYW4gdmVyc2lvbiAxLjAsIHNvIGJlbmNobWFyayBmaWd1cmVzCiAgICAg
ICAgICAgICAgICBvZiBkaWZmZXJlbnQgdmVyc2lvbnMgY2FuJ3QgYmUgY29tcGFyZWQgZGlyZWN0
bHkuCgogICAgICAgICAgICAgICAgVmVyc2lvbiAxLjIgY2hhbmdlcyB0aGUgZGl2aXNpb24gdG8g
Zmxvb3IgZGl2aXNpb24uCgogICAgICAgICAgICAgICAgVW5kZXIgUHl0aG9uIDMgdmVyc2lvbiAx
LjEgd291bGQgdXNlIHRoZSBub3JtYWwgZGl2aXNpb24KICAgICAgICAgICAgICAgIG9wZXJhdG9y
LCByZXN1bHRpbmcgaW4gc29tZSBvZiB0aGUgb3BlcmF0aW9ucyBtaXN0YWtlbmx5CiAgICAgICAg
ICAgICAgICB5aWVsZGluZyBmbG9hdHMuIFZlcnNpb24gMS4yIGluc3RlYWQgdXNlcyBmbG9vciBk
aXZpc2lvbgogICAgICAgICAgICAgICAgbWFraW5nIHRoZSBiZW5jaG1hcmsgYSBpbnRlZ2VyIGJl
bmNobWFyayBhZ2Fpbi4KCmlQwwAA6QAAAAApAdoFY2xvY2t6AzEuMukBAAAA6QYAAABjAAAAAAAA
AAAAAAAABwAAAEAAAABzNwAAAGUAAFoBAGQAAFoCAGQBAGQCAGQCAGQCAGQCAGQDAGQEAIQFAFoD
AGQFAGQGAIQAAFoEAGQBAFMpB9oGUmVjb3JkTnIBAAAAYwYAAAAAAAAABgAAAAIAAABDAAAAczEA
AAB8AQB8AABfAAB8AgB8AABfAQB8AwB8AABfAgB8BAB8AABfAwB8BQB8AABfBABkAABTKQFOKQXa
B1B0ckNvbXDaBURpc2Ny2ghFbnVtQ29tcNoHSW50Q29tcNoKU3RyaW5nQ29tcCkG2gRzZWxmcgYA
AAByBwAAAHIIAAAAcgkAAAByCgAAAKkAcgwAAAD6CnB5c3RvbmUucHnaCF9faW5pdF9fNAAAAHMK
AAAAAAIJAQkBCQEJAXoPUmVjb3JkLl9faW5pdF9fYwEAAAAAAAAAAQAAAAYAAABDAAAAcyUAAAB0
AAB8AABqAQB8AABqAgB8AABqAwB8AABqBAB8AABqBQCDBQBTKQFOKQZyBQAAAHIGAAAAcgcAAABy
CAAAAHIJAAAAcgoAAAApAXILAAAAcgwAAAByDAAAAHINAAAA2gRjb3B5PAAAAHMEAAAAAAEVAXoL
UmVjb3JkLmNvcHkpBdoIX19uYW1lX1/aCl9fbW9kdWxlX1/aDF9fcXVhbG5hbWVfX3IOAAAAcg8A
AAByDAAAAHIMAAAAcgwAAAByDQAAAHIFAAAAMgAAAHMGAAAADAIJARIHcgUAAABjAQAAAAAAAAAD
AAAABQAAAEMAAABzOwAAAHQAAHwAAIMBAFwCAH0BAH0CAHQBAGQBAHQCAHwAAHwBAGYDABaDAQAB
dAEAZAIAfAIAFoMBAAFkAABTKQNOeiNQeXN0b25lKCVzKSB0aW1lIGZvciAlZCBwYXNzZXMgPSAl
Z3otVGhpcyBtYWNoaW5lIGJlbmNobWFya3MgYXQgJWcgcHlzdG9uZXMvc2Vjb25kKQPaCHB5c3Rv
bmVz2gVwcmludNoLX192ZXJzaW9uX18pA9oFbG9vcHPaCWJlbmNodGltZVoGc3RvbmVzcgwAAABy
DAAAAHINAAAA2gRtYWluQwAAAHMIAAAAAAESAQYBEQFyGAAAAGMBAAAAAAAAAAEAAAACAAAAQwAA
AHMKAAAAdAAAfAAAgwEAUykBTikB2gVQcm9jMCkBchYAAAByDAAAAHIMAAAAcg0AAAByEwAAAEoA
AABzAgAAAAABchMAAADaAQDpMwAAAGMBAAAAAAAAAAIAAAAFAAAAQwAAAHMgAAAAZwAAfAAAXRYA
fQEAfAEAZAAAZAAAhQIAGZECAHEGAFMpAU5yDAAAACkC2gIuMNoBeHIMAAAAcgwAAAByDQAAAPoK
PGxpc3Rjb21wPlIAAABzAgAAAAkAch4AAABOYwEAAAAAAAAADQAAAAYAAABDAAAAc+4BAAB0AACD
AAB9AQB4FAB0AQB8AACDAQBEXQYAfQIAcRYAV3QAAIMAAHwBABh9AwB0AgCDAABhAwB0AgCDAABh
BAB0AwB0BABfBQB0BgB0BABfBwB0CAB0BABfCQBkAQB0BABfCgBkAgB0BABfCwBkAwB9BABkBAB0
DABkBQAZZAYAPHQAAIMAAH0BAHgoAXQBAHwAAIMBAERdGgF9AgB0DQCDAAABdA4AgwAAAWQHAH0F
AGQIAH0GAGQJAH0HAHQPAH0IAHQQAHwEAHwHAIMCAAxhEQB4NwB8BQB8BgBrAAByCwFkCgB8BQAU
fAYAGH0JAHQSAHwFAHwGAIMCAH0JAHwFAGQLABd9BQBx1QBXdBMAdBQAdAwAfAUAfAkAgwQAAXQV
AHQEAIMBAGEEAGQMAH0KAHhKAHwKAHQWAGsBAHJ9AXwIAHQXAHwKAGQNAIMCAGsCAHJkAXQYAHQG
AIMBAH0IAG4AAHQZAHQaAHwKAIMBAGQLABeDAQB9CgBxNAFXfAYAfAUAFH0JAHwJAHwFABp9BgBk
BgB8CQB8BgAYFHwFABh9BgB0GwB8BQCDAQB9BQBxlgBXdAAAgwAAfAEAGHwDABh9CwB8CwBkDgBr
AgBy2gFkDgB9DABuCgB8AAB8CwAbfQwAfAsAfAwAZgIAUykPTukoAAAAeh5ESFJZU1RPTkUgUFJP
R1JBTSwgU09NRSBTVFJJTkd6HkRIUllTVE9ORSBQUk9HUkFNLCAxJ1NUIFNUUklOR+kKAAAA6QgA
AADpBwAAAOkCAAAA6QMAAAB6HkRIUllTVE9ORSBQUk9HUkFNLCAyJ05EIFNUUklOR+kFAAAAcgMA
AADaAUHaAUNnAAAAAAAAAAApHHICAAAA2gVyYW5nZXIFAAAA2gpQdHJHbGJOZXh02gZQdHJHbGJy
BgAAANoGSWRlbnQxcgcAAADaBklkZW50M3IIAAAAcgkAAAByCgAAANoKQXJyYXkyR2xvYtoFUHJv
YzXaBVByb2M02gZJZGVudDLaBUZ1bmMy2ghCb29sR2xvYtoFUHJvYzfaBVByb2M42gpBcnJheTFH
bG9i2gVQcm9jMdoJQ2hhcjJHbG9i2gVGdW5jMdoFUHJvYzbaA2NoctoDb3Jk2gVQcm9jMikNchYA
AABaCXN0YXJ0dGltZdoBaVoIbnVsbHRpbWVaClN0cmluZzFMb2NaB0ludExvYzFaB0ludExvYzJa
ClN0cmluZzJMb2PaB0VudW1Mb2NaB0ludExvYzNaCUNoYXJJbmRleHIXAAAAWhFsb29wc1BlckJl
bmNodGltZXIMAAAAcgwAAAByDQAAAHIZAAAAVgAAAHNUAAAAAAoJARMBBAENAgkBCQEJAQkBCQEJ
AQkBBgEOAgkCEwEHAQcBBgEGAQYBBgEQAQ8BDgEPAQ4BEwEMAQYBDwEVAQ8BGgEKAQoBEgEQAhEB
DAEJAgoBchkAAABjAQAAAAAAAAACAAAAAwAAAEMAAABzrQAAAHQAAGoBAIMAAAR8AABfAgB9AQBk
AQB8AABfAwB8AABqAwB8AQBfAwB8AABqAgB8AQBfAgB0BAB8AQBqAgCDAQB8AQBfAgB8AQBqBQB0
BgBrAgBylABkAgB8AQBfAwB0BwB8AABqCACDAQB8AQBfCAB0AABqAgB8AQBfAgB0CQB8AQBqAwBk
AwCDAgB8AQBfAwBuDAB8AQBqAQCDAAB9AABkAAB8AQBfAgB8AABTKQROciUAAAByBAAAAHIgAAAA
KQpyKgAAAHIPAAAAcgYAAAByCQAAANoFUHJvYzNyBwAAAHIrAAAAcjkAAAByCAAAAHIzAAAAKQJa
CFB0clBhckluWgpOZXh0UmVjb3JkcgwAAAByDAAAAHINAAAAcjYAAACQAAAAcxoAAAAAARMBCQEM
AQwBEgEPAQkBEgEMARgCDAEJAXI2AAAAYwEAAAAAAAAAAwAAAAIAAABDAAAAc00AAAB8AABkAQAX
fQEAeDwAdAAAZAIAawIAcjYAfAEAZAMAGH0BAHwBAHQBABh9AAB0AgB9AgBuAAB8AgB0AgBrAgBy
DQBQcQ0AcQ0AfAAAUykETnIgAAAAciYAAAByAwAAACkD2glDaGFyMUdsb2LaB0ludEdsb2JyKwAA
ACkDWghJbnRQYXJJT9oGSW50TG9jcj4AAAByDAAAAHIMAAAAcg0AAAByPAAAAKAAAABzEgAAAAAB
CgEDAQwBCgEKAQkBDAEHAXI8AAAAYwEAAAAAAAAAAQAAAAMAAABDAAAAczQAAAB0AABkAABrCQBy
GAB0AABqAQB9AABuBgBkAQBhAgB0AwBkAgB0AgCDAgB0AABfBAB8AABTKQNO6WQAAAByIAAAACkF
cioAAAByBgAAAHJBAAAAcjMAAAByCQAAACkBWglQdHJQYXJPdXRyDAAAAHIMAAAAcg0AAAByPwAA
AKsAAABzCgAAAAADDAEMAgYBEgFyPwAAAGMAAAAAAAAAAAEAAAACAAAAQwAAAHMiAAAAdAAAZAEA
awIAfQAAfAAAcBUAdAEAfQAAZAIAYQIAZAAAUykDTnImAAAA2gFCKQNyQAAAAHIyAAAAcjcAAAAp
AVoHQm9vbExvY3IMAAAAcgwAAAByDQAAAHIvAAAAtQAAAHMGAAAAAAMMAQwBci8AAABjAAAAAAAA
AAAAAAAAAQAAAEMAAABzEAAAAGQBAGEAAHQBAGECAGQAAFMpAk5yJgAAACkDckAAAADaBUZBTFNF
cjIAAAByDAAAAHIMAAAAcgwAAAByDQAAAHIuAAAAvAAAAHMEAAAAAAQGAXIuAAAAYwEAAAAAAAAA
AgAAAAIAAABDAAAAc5cAAAB8AAB9AQB0AAB8AACDAQBzGwB0AQB9AQBuAAB8AAB0AgBrAgByMAB0
AgB9AQBuYwB8AAB0AwBrAgByWgB0BABkAQBrBAByUQB0AgB9AQBxkwB0AQB9AQBuOQB8AAB0BQBr
AgBybwB0AwB9AQBuJAB8AAB0AQBrAgByfgBuFQB8AAB0BgBrAgBykwB0BQB9AQBuAAB8AQBTKQJO
ckMAAAApB9oFRnVuYzPaBklkZW50NHIrAAAAcjAAAAByQQAAAHIsAAAA2gZJZGVudDUpAtoJRW51
bVBhckluWgpFbnVtUGFyT3V0cgwAAAByDAAAAHINAAAAcjkAAADDAAAAcyAAAAAAAQYBDAEJAQwB
CQEMAQwBCQIJAQwBCQEMAQMBDAEJAXI5AAAAYwIAAAAAAAAABAAAAAIAAABDAAAAcxgAAAB8AABk
AQAXfQIAfAEAfAIAF30DAHwDAFMpAk5yIwAAAHIMAAAAKQTaCEludFBhckkx2ghJbnRQYXJJMnJC
AAAAWglJbnRQYXJPdXRyDAAAAHIMAAAAcg0AAAByMwAAANYAAABzBgAAAAABCgEKAXIzAAAAYwQA
AAAAAAAABgAAAAQAAABDAAAAc6IAAAB8AgBkAQAXfQQAfAMAfAAAfAQAPHwAAHwEABl8AAB8BABk
AgAXPHwEAHwAAHwEAGQDABc8eCkAdAAAfAQAfAQAZAQAF4MCAERdFAB9BQB8BAB8AQB8BAAZfAUA
PHFIAFd8AQB8BAAZfAQAZAIAGBlkAgAXfAEAfAQAGXwEAGQCABg8fAAAfAQAGXwBAHwEAGQFABcZ
fAQAPGQBAGEBAGQAAFMpBk5yJQAAAHIDAAAA6R4AAAByIwAAAOkUAAAAKQJyKAAAAHJBAAAAKQZa
CUFycmF5MVBhcloJQXJyYXkyUGFyckoAAABySwAAAHJCAAAAWghJbnRJbmRleHIMAAAAcgwAAABy
DQAAAHI0AAAA2wAAAHMSAAAAAAMKAQoBEgEOARoBEgEiARYBcjQAAABjAgAAAAAAAAAEAAAAAgAA
AEMAAABzJAAAAHwAAH0CAHwCAH0DAHwDAHwBAGsDAHIcAHQAAFN0AQBTZAAAUykBTikCcisAAABy
MAAAACkEWghDaGFyUGFyMVoIQ2hhclBhcjJaCENoYXJMb2MxWghDaGFyTG9jMnIMAAAAcgwAAABy
DQAAAHI4AAAA6AAAAHMKAAAAAAEGAQYBDAEEAnI4AAAAYwIAAAAAAAAABAAAAAUAAABDAAAAc6AA
AABkAQB9AgB4RAB8AgBkAQBrAQByTAB0AAB8AAB8AgAZfAEAfAIAZAEAFxmDAgB0AQBrAgByCQBk
AgB9AwB8AgBkAQAXfQIAcQkAcQkAV3wDAGQDAGsFAHJuAHwDAGQEAGsBAHJuAGQFAH0CAG4AAHwD
AGQGAGsCAHJ+AHQCAFN8AAB8AQBrBABymAB8AgBkBQAXfQIAdAIAU3QDAFNkAABTKQdOcgMAAABy
JgAAANoBV9oBWnIiAAAA2gFYKQRyOAAAAHIrAAAA2gRUUlVFckUAAAApBFoIU3RyUGFySTFaCFN0
clBhckkyckIAAABaB0NoYXJMb2NyDAAAAHIMAAAAcg0AAAByMQAAAPAAAABzGgAAAAABBgEPASEB
BgERARgBCQEMAQQCDAEKAQQCcjEAAABjAQAAAAAAAAACAAAAAgAAAEMAAABzGgAAAHwAAH0BAHwB
AHQAAGsCAHIWAHQBAFN0AgBTKQFOKQNyLAAAAHJRAAAAckUAAAApAnJJAAAAcj4AAAByDAAAAHIM
AAAAcg0AAAByRgAAAAEBAABzCAAAAAABBgEMAAQBckYAAADaCF9fbWFpbl9fYwEAAAAAAAAAAQAA
AAYAAABDAAAAc0gAAAB0AAB8AABkAQBkAgBkAwB0AQBqAgCDAQIBdAAAZAQAdAEAagMAZAUAGRZk
AwB0AQBqAgCDAQEBdAEAagQAZAYAgwEAAWQAAFMpB07aA2VuZPoBINoEZmlsZXobdXNhZ2U6ICVz
IFtudW1iZXJfb2ZfbG9vcHNdcgEAAAByQwAAACkFchQAAADaA3N5c9oGc3RkZXJy2gRhcmd22gRl
eGl0KQHaA21zZ3IMAAAAcgwAAAByDQAAANoFZXJyb3IIAQAAcwYAAAAAARkBHgFyWwAAAHoaJWQg
YXJndW1lbnRzIGFyZSB0b28gbWFueTt6FEludmFsaWQgYXJndW1lbnQgJXI7KS3aB19fZG9jX19a
BUxPT1BTWgR0aW1lcgIAAAByFQAAAHIoAAAAcisAAAByMAAAAHIsAAAAckcAAABySAAAAHIFAAAA
clEAAAByRQAAAHIYAAAAchMAAAByQQAAAHIyAAAAckAAAAByNwAAAHI1AAAAci0AAAByKgAAAHIp
AAAAchkAAAByNgAAAHI8AAAAcj8AAAByLwAAAHIuAAAAcjkAAAByMwAAAHI0AAAAcjgAAAByMQAA
AHJGAAAAchAAAAByVgAAAHJbAAAA2gNsZW5yWAAAANoFbmFyZ3PaA2ludHIWAAAA2gpWYWx1ZUVy
cm9ycgwAAAByDAAAAHIMAAAAcg0AAADaCDxtb2R1bGU+KAAAAHNUAAAABgIGAhACBgIeAhMOBgEG
Ag8HDwMGAQYBBgEGAQ0BGgEGAQYCDzoMEAwLDAoMBwwHDBMMBQwNDAgMEQwFDAEMAQwEEwEMAREB
DAEDABcBDQEdAgYB
</script>

    <!-- This is a simple test script. The content comes from sample.py
         in the testserver directory -->
    <script id="batavia-sample" type="application/python-bytecode">
{{ samplecode }}
    </script>

    <!-- This is a second module module that can be imported. The content
         comes from other.py in the testserver directory -->
    <script id="batavia-other" type="application/python-bytecode">
{{ othercode }}
    </script>

    {% if customcode %}
    <script id="batavia-customcode" type="application/python-bytecode">
{{ customcode.compiled }}
    </script>

    <script>
function customcode() {
    console.log('Create VM');
    var vm = new batavia.VirtualMachine();
    console.log('Run code...');
    vm.run('customcode', []);
    console.log('done.');
}
    </script>
    {% endif %}

    <script>
function sample() {
    console.log('Create VM');
    var vm = new batavia.VirtualMachine();
    console.log('Run code...');
    // The first argument is the Python dotted-path of the module to run
    // The second argument is the value for sys.argv
    vm.run('sample', [5]);
    console.log('done.');
}

function pystone(loops) {
    console.log('Benchmarking...');
    var vm = new batavia.VirtualMachine();
    vm.run('test.pystone', [loops]);
    console.log('done.');
}

// Now define a stdout function that will output to the page.
function stdout(content) {
    var pre = document.getElementById('stdout');
    pre.innerHTML = pre.innerHTML + content;
}

batavia.stdout = stdout;
batavia.stderr = stdout;
    </script>

</head>
{% if customcode %}
<body onload="customcode();">
{% else %}
<body>
{% endif %}
    <h1>Batavia testbed</h1>
    <div style="width: 40%; display: table-cell; vertical-align: top;">
        <button onclick="sample()">Run sample.py</button>
        <button onclick="pystone(5)">Run PyStone (5 loops)</button>
        <button onclick="pystone(500)">Run PyStone (500 loops)</button>
        <button onclick="pystone(50000)">Run PyStone (50000 loops)</button><br />
    </div>
    <div style="width: 10%; display: table-cell; vertical-align: top;">
        - or -
    </div>
    <div style="width: 40%; display: table-cell;">
        <form method="post">
            <textarea cols="80" rows="8" name="code">{{ customcode.code }}</textarea><br/>
            <input type="submit" value="Run code!" /><p class="warning"><b>NOTE - This is not sandboxed!!</b> This code will be compiled on the webserver, with the same permissions as the user running the web server. There may be vectors for arbitrary code execution. <b>You have been warned!</b></p>
        </form>
    </div>
    <h2>Console output</h2>
    <hr/>
    <pre id="stdout"></pre>
</body>
</html>
