.warning {
    margin: 10px 30px;
    font-size: 80%;
}

.warning.important {
    color: #b00;
}

@font-face {
    font-family: cutive_regular;
    src: url(/static/testserver/styles/cutive/Cutive-Regular.ttf);
}

body {
    margin: 20px;
    background-color: #eceeef;
    color: #373a3c;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    font-family: cutive_regular;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}


#pyconsole {
    display: block;
    overflow-y: scroll;
    padding: 5px;
    min-height: 100px;
    max-height: 300px;
    height: auto;
    background-color: #fff;
}

p,
button {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

button,
input {
    display: inline-block;
    margin: 4px;
    padding: 10px;
    border: none;
    background-color: #373a3c;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

button:focus,
button:hover,
input:focus,
input:hover {
    background-color: #008d38;
    cursor: pointer;
}

.fa-circle {
    font-size: 50% !important;
}

hr {
    border: 1px solid #fff;
}

.indent_block {
    margin: 20px;
    margin-bottom: 50px;
}
